<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>FrEQDriver</string>
	<key>CFBundleIdentifier</key>
	<string>com.freq.driver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FrEQ Audio Driver</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>87F03A90-D0EB-4BCD-91FB-A79E9BBBE38A</key>
		<string>FrEQ_Create</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<!-- kAudioServerPlugInTypeUUID -->
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>87F03A90-D0EB-4BCD-91FB-A79E9BBBE38A</string>
		</array>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026. All rights reserved.</string>
</dict>
</plist>
